.quote-block {
  position: absolute;
  left: 50%;
  width: 85vw;
  transform: translateX(-50%);
}

.change-quote {
  width: 32px;
  height: 32px;
  margin-bottom: 30px;
  background-image: url("../../assets/svg/reload.svg");
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.change-quote:hover {
  opacity: 1;
}

.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

@media (max-width: 550px) {
  .quote-block {
    bottom: 50px;
    font-size: 14px;
  }

  .change-quote {
    width: 25.6px;
    height: 25.6px;
    margin-bottom: 15px;
    background-size: 25.6px 25.6px;
  }
}