.player {
  width: 270px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-radius: 20px;
}

@media (max-width: 550px) {
  .player {
    width: 216px;
    min-height: 200px;
    margin-top: 8px;
    font-size: 12px;
    border-radius: 16px;
  }
}