.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin: 5px auto;
}

.player-icon {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.player-icon:hover {
  opacity: 1;
}

.player-icon:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../../../assets/svg/play.svg");
}

.pause {
  background-image: url("../../../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../../../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../../../assets/svg/play-next.svg");
}

@media (max-width: 550px) {
  .player-controls {
    width: 96px;
    margin: 4px auto;
  }

  .player-icon {
    width: 25.6px;
    height: 25.6px;
    background-size: 25.6px 25.6px;
  }

  .play {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
  }
}