.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

@media (max-width: 550px) {
  .weather {
    row-gap: 3.5px;
    width: 126px;
    min-height: 126px;
    font-size: 14px;
  }

  .weather-error {
    margin-top: -7px;
  }

  .description-container {
    column-gap: 8.4px;
  }

  .weather-icon {
    font-size: 30.8px;
  }

  .city {
    width: 115px;
    height: 23.8px;
    padding: 3.5px;
    font-size: 14px;
    line-height: 16.8px;
  }

  .city::placeholder {
    font-size: 14px;
  }
}