.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
  transition: all 0.3s ease;
}

@media (max-width: 550px) {
  .main {
    padding: 10px;
  }
}