.slider-icon {
  position: absolute;
  top: 50vh;
  width: 32px;
  height: 32px;
  margin-top: -16px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.slider-icon:hover {
  opacity: 1;
}

.slider-icon:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.slide-prev {
  left: 20px;
  background-image: url("../../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../../assets/svg/slider-next.svg");
}

@media (max-width: 550px) {
  .slider-icon {
    width: 25.6px;
    height: 25.6px;
    background-size: 25.6px 25.6px;
  }

  .slide-prev {
    left: 10px;
  }

  .slide-next {
    right: 10px;
  }
}
