.tag-item {
  display: flex;
  align-items: center;
  height: 30px;
  margin-right: 20px;
}

.tag-close {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  background-color: rgb(217, 62, 62);
  border-radius: 50%;
  transition: all 0.2s ease;
}

.tag-close-disabled {
  background-color: rgba(217, 62, 62, 0.533);
}

.icon-close {
  width: 20px;
  height: 20px;
  background-image: url('../../../assets/svg/x.svg');
  filter: brightness(0) invert(1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}