.controls-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.current-title {
  width: 90%;
  margin-bottom: 15px;
  white-space: pre-wrap;
  word-break: normal;
  cursor: default;
}

@media (max-width: 550px) {
  .current-title {
    margin-bottom: 12px;
  }
}