.time {
  height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
}

@media (max-width: 768px) {
  .time {
    height: 88px;
    font-size: 72px;
  }
}

@media (max-width: 550px) {
  .time {
    height: 45px;
    margin-bottom: 2px;
    font-size: 32px;
  }
}