.bar-container {
  margin-bottom: 15px;
}

.bar-transition {
  transition: transform 0.2s linear;
}

.progress-bar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 102px;
  height: 102px;
  margin: auto;
  background-color: rgb(198, 198, 198);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px rgb(255, 90, 90), 0 0 10px 5px rgb(204, 0, 0);
  cursor: pointer;
}

.bar-slider {
  z-index: 5;
  position: absolute;
  top: -10%;
  width: 18%;
  height: 60%;
  transform-origin: bottom center;
}

.bar-slider-visible {
  width: 100%;
  height: 30%;
  background-color: rgb(143, 33, 33);
  border: 2px solid rgb(198, 198, 198);
  border-radius: 50%;
  cursor: pointer;
}

.bar-slider-invisible {
  width: 100%;
  height: 70%;
  opacity: 0;
}

.half-circle,
.half-circle-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-start-start-radius: 100% 50%;
  border-end-start-radius: 100% 50%;
  transform-origin: right center;
}

.half-circle:nth-child(1) {
  background-color: rgb(143, 33, 33);
}

.half-circle:nth-child(2) {
  background-color: rgb(143, 33, 33);
}

.half-circle-cover {
  background-color: rgb(198, 198, 198);
}

.bar-circle {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87px;
  height: 87px;
  background-color: #000;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  cursor: default;
  transition: background-image 0.3s ease;
}

@media (max-width: 550px) {
  .bar-container {
    margin-bottom: 12px;
  }

  .progress-bar {
    width: 81.6px;
    height: 81.6px;
  }

  .bar-circle {
    width: 69.6px;
    height: 69.6px;
  }
}