.settings-wrap {
  z-index: 20;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  left: -306px;
  bottom: 55px;
  width: 300px;
  max-height: 80vh;
  padding: 8px 0;
  color: rgb(24, 24, 24);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  transition: all 0.15s linear;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgb(255, 255, 255);
}

.setting-move {
  transform: translateX(326px);
}

.settings-wrap::-webkit-scrollbar {
  width: 12px;
  background-color: rgb(255, 255, 255);
}

.settings-wrap::-webkit-scrollbar-thumb {
  background-color: rgb(199, 199, 199);
  border: 3px solid white;
  border-radius: 7px;
}

.settings-wrap::-webkit-scrollbar-corner {
  background-color: transparent;
}

@media (max-width: 550px) {
  .setting-move {
    transform: translateX(316px);
  }
}