@font-face {
  font-family: 'Arial-MT';
  src: url("./assets/fonts/Arial-MT.woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
  overflow: hidden;
}

.widget-separator {
  width: 90%;
  height: 1px;
  margin: 0;
  padding: 0;
  background-color: rgb(135, 135, 135);
}

.block-zero-height {
  height: 0;
  margin-bottom: 0;
}

.block-transition {
  transition: all 0.3s ease;
}
