@font-face {
  font-family: 'Arial-MT';
  src: url("./assets/fonts/Arial-MT.woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
  overflow: hidden;
}

.widgets-container,
.theme-control-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.widget-item {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.widget-separator {
  width: 90%;
  height: 1px;
  margin: 0;
  padding: 0;
  background-color: rgb(135, 135, 135);
}

.switcher {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22.5px;
}

.switcher .widget-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.widget-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 22.5px;
}

.widget-slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  top: 2.5px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.widget-checkbox:checked+.widget-slider {
  background-color: #15a857;
}

.widget-checkbox:focus+.widget-slider {
  box-shadow: 0 0 2px #15a857;
}

.widget-checkbox:checked+.widget-slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

.block-zero-height {
  height: 0;
  margin-bottom: 0;
}

.block-transition {
  transition: all 0.3s ease;
}

.setting-logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-logo {
  margin-right: 20px;
}

@media (max-width: 550px) {
  .setting-move {
    transform: translateX(316px);
  }
}